# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/

# Dependency directories
jspm_packages/

# dotenv environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache
.npm/

# Coverage reports
coverage/

# TypeScript
*.tsbuildinfo

# Compiled JS from TS
*.js
*.jsx
*.map

# React
*.cache/
*.parcel-cache/
